
<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> <%= @event.name %> </h3>
      <div class="pull-left">
        <%= fa_icon 'map-marker' %>
      </div>
      <div class="venue-details">
       <%= @event.venue.name %>
       <br/>
       <%= @event.venue.full_address %>
      </div>

      <div class="pull-left">
        <%= fa_icon 'clock-o' %>
      </div>
      <div class="time-details"> 
        <%= @event.starts_at.strftime('%A, %d %b %Y %l:%M %p') %> 
      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-11 col-md-offset-3">

      <table class="table">
        <th>Ticket name</th>
        <th>Price</th>
        <th>Remain Tickets</th>

        <% @event.ticket_types.each do |type| %>
        <tr>
          <td> <%= type.name %> </td>
          <td> <%= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
          <td> <%= type.max_quantity - type.tickets.count %></td>
        </tr>
        <% end %> 
      </table>
    </div>
  </div>

  <div class="row ticket-order">
    <div class="col-md-11 col-md-offset-3">
      <% if flash_messages.presence %>
        <%= flash_messages %>
      <% else %>
      <% end %>

      <%= form_tag event_tickets_path(event_id: @event.id) do |f| %>

        <strong>Name</strong>
        <%= text_field_tag :name, params[:name], placeholder: 'Fill your name here',
            class: 'form-control' %><br>
        
        <strong>Phone numbers</strong>
        <%= text_field_tag :phone, params[:phone], placeholder: 'Fill your phone numbers here',
            class: 'form-control' %><br>

        <strong>Ship Address</strong>
        <%= text_area_tag :address, params[:address], placeholder: 'Fill your address here',
            class: 'form-control' %><br>

        <strong>Select Ticket Type</strong>
        <%= select_tag(:ticket_type_id,
            options_from_collection_for_select(@ticket_types, "id", "name"),
            class: 'form-control') %><br>

        <strong>Select quantity</strong>
        <%= select_tag(:quantity, options_for_select(0..10), class: 'form-control') %><br>

        <%= submit_tag 'Purchase', class: 'btn btn-success' %>

      <% end %>
    </div>
  </div>
</div>
