<nav class="navbar navbar-fixed-top navbar-dark" style="background-color: black;">  
  <div class="container">
    <a class="navbar-brand" href="<%= root_path %>">
      <strong><i class="fa fa-ticket" aria-hidden="true"></i> Tickets Hunter</strong>
    </a>

    <ul class="nav navbar-nav">
      <% if !signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_session_path %>">Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_path %>">Sign Up</a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_event_path %>">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Event
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_venue_path %>">
            <i class="fa fa-plus-square" aria-hidden="true"></i> Venue
          </a>
        </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav pull-right">
      <% if signed_in? %>
        <li class="nav-item">
        <span class="navbar-text" style="color: white">
          Logged in as <%= current_user.email %>
        </span>
        </li>
        <li class="nav-item">
          <%= link_to "Log Out", log_out_path, method: 'delete', class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav><br><br>