<!DOCTYPE html>
<html>
<head>
  <title>Tickets Hunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<script type="text/javascript">
  jQuery(document).on('page:change turbolinks:load', function() {
    var heights = $(".card").map(function() {
        return $(this).height();
    }).get(),

    maxHeight = Math.max.apply(null, heights);

    $(".card").height(maxHeight);
    console.log("My script was run");
  });
</script>

</body>
</html>
