<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Tickets Hunter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<script type="text/javascript">
  jQuery(document).on('page:change turbolinks:load', function() {
    $(window).bind("load", function () {
      var heights = $(".mycard").map(function() {
          return $(this).height();
      }).get(),

      maxHeight = Math.max.apply(null, heights);

      $(".mycard").height(maxHeight);
    });
  });
</script>

</body>
</html>
